<article>
  <h1
    class="bg-[--primary-fremen] p-4 text-center uppercase text-black"
    style="letter-spacing: 2px; font-weight: 500;"
  >
    {{faction?.name}}
  </h1>
  <h2
    class="bg-[--primary-fremen] px-4 text-center uppercase text-black w-fit"
  >
    Inicio
  </h2>
  <p>
    <b>Tropas:</b>
    10 distribuidas como desees entre Sietch Tabr, False Wall South y False Wall West y 10 en reserva.
  </p>
  <img
    alt="dune map with sietch tabr, false wall south & false wall west highlighted."
    class="w-60 mx-auto"
    src="assets/images/fremen-starting-locations.png"
  />
  <p>
    <b>Especia Incial:</b>
    3 unidades.
  </p>
  <h2
    class="bg-[--primary-fremen] px-4 text-center uppercase text-black w-fit"
  >
    Fase de reanimación
  </h2>
  <p>
    <b>Reanimación gratuita:</b>
    3 tropas por ronda (no puedes pagar por reanimaciones adicionales).
  </p>
  <h2
    class="bg-[--primary-fremen] px-4 text-center uppercase text-black w-fit"
  >
    Ventajas
  </h2>
  <p>
    <i
      class="mx-4"
    >
      Nativo de Dune. Conocés este planeta y sabés vivir en él.
    </i>
  </p>
  <p>
    <b>
      Embarcar gratis:
    </b>
    Podés desplegar tantas fuerzas de tu reserva como deseas de manera gratuita en The Great Flat o cualquier otro
    territorio que se encuentre a una distancia de uno o dos territorios de The Great Flat.
  </p>
  <img
    alt="dune map with fremen shipment locations highlighted."
    class="w-60 mx-auto"
    src="assets/images/fremen-shipment-locations.png"
  />
  <p>
    <b>
      Gusano de arena:
    </b>
    Si un gusano de arena aparece en un territorio donde tengas tropas, estas no son devoradas.
    <br/>
    Una vez terminada la discusión de alianzas,
    tus tropas pueden montar el gusano hasta cualquier territorio.
  </p>
  <p>
    <b>
      Doble movimiento:
    </b>
    Podés mover tus fuerzas hasta dos territorios.
  </p>
  <p>
    <b>
      Condición de victoria especial Fremen:
    </b>
    Si al final de la última ronda ningún otro jugador ganó la partida y se cumple que...
  </p>
  <ol class="mb-3" style="list-style-type: decimal">
    <li>Tú o nadie ocupa Sietch Tabr</li>
    <li>Tú o nadie ocupa Habbanya Sietch</li>
    <li>
      <span class="text-[--primary-harkonnen]">Harkonnen</span>,
      <span class="text-[--primary-atreides]">Atreides</span> o
      <span class="text-[--primary-emperor]">El Emperador</span> no ocupan Tuek's Sietch.
    </li>
  </ol>
  <img
    alt="dune map with Sietch Tabr, Habbanya Sietch y Tuek's Sietch highlighted."
    class="w-60 mx-auto"
    src="assets/images/fremen-special-victory-condition-locations.png"
  />
  <p>Tú y tu aliado ganan la partida.</p>
  <h2
    class="bg-[--primary-fremen] px-4 text-center uppercase text-black w-fit"
  >
    Ventajas del juego avanzado
  </h2>

  <p>
    <b>
      Leer la tormenta:
    </b>
    A excepción del movimiento inicial de la tormenta, solo tú sabes cuántos sectores se desplazará la tormenta durante
    la siguiente fase de tormenta.
  </p>
  <p>
    <b>
      Bajas por la tormenta:
    </b>
    Si tus tropas son alcanzadas por la tormenta y no están protegidas por un territorio de montaña o una ciudad, solo
    la mitad de ellas mueren (redondeando para arriba).
  </p>
  <p>
    <b>
      Embarcar a un sector bajo la tormenta:
    </b>
    Solo tú puedes embarcar tus tropas a un sector afectado por la tormenta. La mitad de tus tropas mueren
    instantáneamente (redondeando para arriba).
  </p>
  <p>
    <b>Controlar Gusanos de arena adicionales:</b>
    Puedes colocar en cualquier territorio de arena cualquier gusano que aparezca despúes del primer gusano durante una
    fase de especia.
  </p>
  <p>
    <b>
      Guerreros especiales:
    </b>
    Tus tres tropas estrelladas, los Fedaykin, tienen el doble de fuerza en combate que las tropas normales.
    <br/>
    <u>Solo puedes reanimar un Fedaykin por ronda.</u>
  </p>
  <p>
    <b>
      Combatir sin utilizar especia:
    </b>
    Tus tropas no requieren Especia para aportar su fuerza total a tu plan de batalla.
  </p>
  <h2
    class="bg-[--primary-fremen] px-4 text-center uppercase text-black w-fit"
  >
    Poder único karama
  </h2>
  <p>
    Puedes usar una carta Karama durante la fase de especia y antes de la fase de reanimación-embarque-movimiento para
    colocar un gusano en un territorio de arena de tu elección. Este se trata como un gusano normal, por lo que se
    pueden formar y romper alianzas y se pueden aplicar tus ventajas de facción.
  </p>

  <p><u>Solo puedes usar este poder una única vez por partida</u></p>
</article>
