<article>
  <h1
    class="bg-[--primary-guild] p-4 text-center uppercase text-black"
    style="letter-spacing: 2px; font-weight: 500;"
  >
    {{faction?.name}}
  </h1>
  <h2
    class="bg-[--primary-guild] px-4 text-center uppercase text-black w-fit"
  >
    Inicio
  </h2>
  <p>
    <b>Tropas:</b>
    5 en Tuek's Sietch y 15 en reserva.
  </p>
  <img
    alt="dune map with Carthag highlighted."
    class="w-60 mx-auto"
    src="assets/images/guild-starting-location.png"
  />
  <p>
    <b>Especia Inicial:</b>
    5 unidades.
  </p>
  <h2
    class="bg-[--primary-guild] px-4 text-center uppercase text-black w-fit"
  >
    Fase de reanimación
  </h2>
  <p>
    <b>Reanimación gratuita:</b>
    1 por ronda.
  </p>
  <h2
    class="bg-[--primary-guild] px-4 text-center uppercase text-black w-fit"
  >
    Ventajas
  </h2>
  <p>
    <i
      class="mx-4"
    >
      Controlas todos los embarques hacia y desde Dune.
    </i>
  </p>
  <p>
    <b>
      Cobrar por tarifas de embarque:
    </b>
    Cada vez que otro jugador embarque tropas al planeta desde sus reservas, tú recibes el pago en especia en lugar del
    banco.
  </p>
  <p>
    <b>
      Tres tipos de embarque:
    </b>
    Durante la fase de embarque puedes realizar uno de los siguientes tipos de embarque:
  </p>
  <ul class="mb-3" style="list-style-type: lower-alpha">
    <li>Embarque normal.</li>
    <li>Embarcar cualquier número de tropas desde un territorio a otro.</li>
    <li>Embarcar cualquier número de tropas desde un territorio de vuelta a tu reserva. Paga al banco 1 de especia por
      cada 2 tropas.
    </li>
  </ul>
  <p>
    <b>Tarifa de embarque descontada:</b>
    Pagas la mitad de la tarifa normal por tus enbarques normales y entre un territorio y otro.
  </p>
  <p>
    <b>Condición de victoria especial Gremio de Navegantes:</b>
    Si al final de la última ronda ningún otro jugador ganó la partida y no se cumplió la condición de victoria especial
    <span class="text-[--primary-fremen]">Fremen</span>, tú y tu aliado ganan la partida.
  </p>
  <h2
    class="bg-[--primary-guild] px-4 text-center uppercase text-black w-fit"
  >
    Ventajas del juego avanzado
  </h2>

  <p>
    <b>Embarca y mueve cuando desees:</b>
    Puedes realizar tu embarque y/o movimiento fuera de orden, es decir, puedes embarcar/mover antes que todos, después
    de todos o entre los turnos de otros jugadores según lo desees.
    <br/>
    No tienes que revelar tu intención de hacer un embarque y/o movimiento fuera de turno hasta que vayas a hacerlo.
  </p>
  <h2
    class="bg-[--primary-guild] px-4 text-center uppercase text-black w-fit"
  >
    Poder único karama
  </h2>
  <p>
    Puedes usar una carta Karama para cancelar un embarque de un jugador.
  </p>
  <p><u>Solo puedes usar este poder una única vez por partida</u></p>
</article>
