<article>
  <h1
    class="bg-[--primary-bene-gesserit] p-4 text-center uppercase "
    style="letter-spacing: 2px; font-weight: 500;"
  >
    {{faction?.name}}
  </h1>
  <h2
    class="bg-[--primary-bene-gesserit] px-4 text-center uppercase  w-fit"
  >
    Inicio
  </h2>
  <p>
    <b>Tropas:</b>
    1 en Polar Sink (o 1 en cualquier territorio que desees en el juego avanzado) y 19 en reserva.
  </p>
  <figure>
    <img
      alt="dune map with sietch tabr, false wall south & false wall west highlighted."
      class="w-60 mx-auto"
      src="assets/images/bene-gesserit-starting-location.png"
    />
    <p class="text-center">
      <u>solo en el juego básico</u>
    </p>

  </figure>
  <p>
    <b>Especia Inicial:</b>
    5 unidades.
  </p>
  <h2
    class="bg-[--primary-bene-gesserit] px-4 text-center uppercase  w-fit"
  >
    Fase de reanimación
  </h2>
  <p>
    <b>Reanimación gratuita:</b>
    1 por ronda.
  </p>
  <h2
    class="bg-[--primary-bene-gesserit] px-4 text-center uppercase  w-fit"
  >
    Ventajas
  </h2>
  <p>
    <i
      class="mx-4"
    >
      Adepta en el control mental.
    </i>
  </p>
  <p>
    <b>
      Predicción:
    </b>
    Antes de comenzar la partida, haz una predicción sobre qué facción y en qué ronda crees que ganará la partida. Si tu
    predicción es correcta, tú ganas en su lugar.
    <br/>
    No puedes predecir las condiciones de victoria especiales de <span
    class="text-[--primary-fremen]">Fremen</span> y
    del <span class="text-[--primary-guild]">Gremio</span>.
  </p>
  <p>
    <b>
      La Voz:
    </b>
    Antes de que tu oponente elabore su plan de batalla, puedes forzarlo a jugar o no:

  </p>
  <ol class="mb-3" style="list-style-type: lower-alpha">
    <li>un tipo de arma</li>
    <li>un tipo de defensa</li>
    <li>una carta especial específica</li>
  </ol>
  <p>
    Si tu oponente no dispone de los medios para obedecerte, puede hacer lo que desee.
  </p>
  <p>
    <b>
      Embarcar consejeras (solo en el juego básico):
    </b>
    Cada vez que otra facción embarque tropas desde sus reservas (excepto los Fremen), puedes embarcar una guerrera al
    casquete polar.
  </p>
  <img
    alt="dune map with Sietch Tabr, Habbanya Sietch y Tuek's Sietch highlighted."
    class="w-60 mx-auto"
    src="assets/images/bene-gesserit-starting-location.png"
  />
  <p class="text-center">
    <u>solo en el juego básico</u>
  </p>
  <h2
    class="bg-[--primary-bene-gesserit] px-4 text-center uppercase  w-fit"
  >
    Ventajas del juego avanzado
  </h2>
  <p>
    <b>
      Caridad de subasta:
    </b>
    recibes 2 de especia como caridad antes de cada fase de subasta.
  </p>
  <p>
    <b>
      Cartas sin valor como karama:
    </b>
    Puedes usar las cartas sin valor como si fuesen cartas karama.
  </p>
  <p>
    <b>
      Embarcar consejeras (solo en el juego avanzado):
    </b>
    Cada vez que otra facción embarque tropas desde sus reservas (excepto los Fremen), puedes embarcar una consejera a
    ese mismo territorio o al casquete polar.
  </p>
  <p>
    <b>Deambular como guerreras:</b>
    Si en un territorio solo hay consejeras, estas se convierten en guerreras.
  </p>
  <p>
    <b>
      Perfil bajo como consejeras:
    </b>
    Si otro jugador embarca o mueve tropas a un territorio donde haya guerreras, puedes optar por convertirlas en
    consejeras.
  </p>
  <p>
    <b>
      Entrar a un territorio enemigo como guerreras o consejeras:
    </b>
    Si mueves guerreras a un territorio donde no haya fichas de tu color, puedes optar por mantenerlas como guerreras o
    convertirlas en consejeras.
  </p>
  <p>
    <b>
      Seguir a las demás:
    </b>
    Si mueves consejeras/guerreras a un territorio donde ya había fichas de tu color, voltea tus fichas para que todas
    coincidan con las del territorio de destino.
  </p>
</article>
