<article>
  <h1
    class="bg-[--primary-atreides] p-4 text-center uppercase text-black"
    style="letter-spacing: 2px; font-weight: 500;"
  >
    {{faction?.name}}
  </h1>
  <h2
    class="bg-[--primary-atreides] px-4 text-center uppercase text-black w-fit"
  >
    Inicio
  </h2>
  <p>
    <b>Tropas:</b>
    10 en Arrakeen y 10 en reserva.
  </p>
  <img
    alt="dune map with Arrakeen highlighted."
    class="w-60 mx-auto"
    src="assets/images/atreides-starting-location.png"
  />
  <p>
    <b>Especia Incial:</b>
    10 unidades.
  </p>

  <p>
    Ubica los mazos de Especia y de trampa cerca tuyo, tú los administras.
  </p>
  <h2
    class="bg-[--primary-atreides] px-4 text-center uppercase text-black w-fit"
  >
    Fase de reanimación
  </h2>
  <p>
    <b>Reanimación gratuita:</b>
    2 tropas por ronda.
  </p>
  <h2
    class="bg-[--primary-atreides] px-4 text-center uppercase text-black w-fit"
  >
    Ventajas
  </h2>
  <p>
    <i
      class="mx-4"
    >
      Visión limitada del futuro
    </i>
  </p>
  <p>
    <b>
      Dirigir la subasta:
    </b>
    Puedes mirar las cartas de trampa a medida que van siendo subastadas.
  </p>
  <p>
    <b>
      Registros:
    </b>
    Solo tú puedes llevar registro por escrito de las cartas y cualquier otra información de los demás jugadores.
  </p>
  <p>
    <b>
      Afloramientos de especia y gusanos futuros:
    </b>
    Al comienzo de la fase de movimiento, puedes mirar la siguiente carta del
    mazo de especia.
  </p>
  <p>
    <b>
      Visión limitada del plan de batalla enemigo:
    </b>
    Cuando estes en combate y tu oponente haya elaborado su plan de batalla,
    puedes forzarlo a que te revele uno de los componentes del mismo:
  </p>
  <ul class="mb-3" style="list-style-type: disc">
    <li>El líder</li>
    <li>El arma</li>
    <li>La defensa</li>
    <li>El número marcado en el disco de combate.</li>
  </ul>
  <p>
    A continuación, puedes modificar tu plan antes de mostrarlo.
  </p>
  <h2
    class="bg-[--primary-atreides] px-4 text-center uppercase text-black w-fit"
  >
    Ventajas del juego avanzado
  </h2>

  <p>
    <b>Profecía del Kwisatz Haderach:</b>
    Utiliza la carta de Kwisatz Haderach para llevar la cuenta de cuantos de tus soldados murieron en batalla.
  </p>
  <p>
    Una vez que el contador llegue a 7, la carta se activa por el resto de la partida.
  </p>
  <p>
    Cuando esta carta se encuentre activa, puedes mostrarla junto con tu plan de batalla. Al hacer, este líder será el :
  </p>
  <ul class="mb-3" style="list-style-type: disc">
    <li>incrementa en 2 la fuerza de tu líder o héroe/ina barato/a.</li>
    <li>El líder no podrá ser revelado como un traidor.</li>
    <li>El líder solo podrá ser eliminado por una explosión atómica.</li>
  </ul>
  <p><u>Solo puedes jugar esta carta una vez por ronda.</u></p>
  <h2
    class="bg-[--primary-atreides] px-4 text-center uppercase text-black w-fit"
  >
    Poder único karama
  </h2>
  <p>
    Puedes usar una carta Karama para mirar el plan de batalla completo de otro jugador antes de que los planes sean
    revelados.
  </p>

  <p><u>Solo puedes usar este poder una única vez por partida</u></p>

</article>
