<main class="max-w-sm w-full p-2 mx-auto sm:max-w-3xl">
  <h1>Calculadora de plan de batalla avanzado</h1>
  <p>Esta herramienta te ayudará a calcular el poder que tus tropas aportan a tu plan de batalla según las tropas que
    inviertas y la especia que les proveas.</p>

  <p>Utilizá los botones bajo {{faction.hasSpecialTroops ? "los íconos" : "el ícono"}}
    de {{faction.hasSpecialTroops ? 'tus guerreros' : 'tu guerrero'}} para
    agregar o quitar guerreros a la lista de guerreros invertidos. Después podes marcar a cuales de tus guerreros
    les proveerás especia para potenciarlos en combate.</p>

  <div class="grid grid-cols-3 justify-items-center items-center text-lg font-medium mb-1">
    <span class="text-right">Tropas invertidas</span>
    <span class="text-center text-4xl">=</span>
    <span class="text-left">tropas que morirán si ganás el combate</span>
  </div>

  <p>Por ultimo marcá en tu disco de combate lo que indica el disco en pantalla. Después podés seguir armando el resto
    de tu plan de batalla.</p>
  <mat-divider/>
  <article class="w-full mx-auto flex flex-row justify-center mb-4">
    <div>
      <app-combat-wheel [combatWheelDial]="combatWheelDial"
      />
      <div class="mt-2">
      </div>
      <div class="w-full flex flex-row justify-evenly">
        <app-troops-control
          (add)="handleAddSpecialTroop()"
          (remove)="handleRemoveSpecialTroop()"
          *ngIf="faction.hasSpecialTroops"
          [addDisabled]="commitedSpecialTroopAmount >= faction.maxSpecialTroopAmount"
          [iconSrc]="faction.specialTroopIconSrc"
          [removeDisabled]="commitedSpecialTroopAmount === 0"
        />
        <app-troops-control
          (add)="handleAddTroop()"
          (remove)="handleRemoveTroop()"
          [addDisabled]="commitedTroopAmount >= faction.maxTroopAmount"
          [iconSrc]="faction.troopIconSrc"
          [removeDisabled]="commitedTroopAmount === 0"
        />
      </div>
      <table class="w-full table-fixed table mb-2">
        <thead>
        <td class="text-center font-medium text-lg pb-4">Tropas Invertidas</td>
        <td class="text-center font-medium text-lg pb-4 ">Poder</td>
        <td class="text-center font-medium text-lg pb-4 ">
          <button
            (click)="handleToggleAllSpiceSupport()"
            class="text-lg"
            mat-flat-button
          >
            Especia
          </button>
        </td>
        </thead>
        <tbody>
        <tr
          *ngFor="let troop of (troops$ | async); let i = index"
          class=""
        >
          <td class="flex flex-row justify-center">
            <app-circle-icon
              [iconSrc]="faction.hasSpecialTroops && troop.isSpecialTroop ? faction.specialTroopIconSrc : faction.troopIconSrc"
            />
          </td>
          <td class="text-center font-bold text-2xl">
            {{calculateTroopPower(troop) | fraction }}
          </td>

          <td [class.grayscale]="!troop.hasSpiceSupport && faction.troopsRequireSpiceSupport"
              class="flex flex-row justify-center">
            <app-circle-icon
              (click)="handleToggleSpiceSupport(i)"
              *ngIf="faction.troopsRequireSpiceSupport"
              [iconSrc]="'assets/images/spice.svg'"
            />
            <app-circle-icon
              *ngIf="!faction.troopsRequireSpiceSupport"
              [iconSrc]="'assets/images/crossed-out-spice.svg'"
            />
          </td>
        </tr>
        </tbody>
      </table>
      <mat-divider class="mb-4"/>
      <h2>Cantidades</h2>
      <div class="flex flex-col items-center sm:flex-row sm:justify-between space-y-2">
        <table class="w-full table-fixed table ">
          <thead
            *ngIf="!faction.hasSpecialTroops"
          >
          <td
            class="text-center font-medium text-lg pb-4"
          >
            Tropas
          </td>
          <td
            class="text-center font-medium text-lg pb-4"
          >
            {{commitedTroopAmount}}
          </td>
          </thead>
          <thead
            *ngIf="faction.hasSpecialTroops"
          >
          <td
            class="text-center font-medium text-lg pb-4"
          >
            Normales
          </td>
          <td
            class="text-center font-medium text-lg pb-4"
          >
            Especiales
          </td>
          <td class="text-center font-medium text-lg pb-4 ">
            Total de Tropas
          </td>
          </thead>
          <tbody>
          <tr *ngIf="faction.hasSpecialTroops">
            <td class="text-center text-lg">
              {{commitedTroopAmount}}
            </td>
            <td
              class="text-center text-lg"
            >
              {{commitedSpecialTroopAmount}}
            </td>
            <td class="text-center text-lg">
              {{totalCommitedSpecialTroopAmount$ | async}}
            </td>
          </tr>
          </tbody>
        </table>
        <mat-divider class="mb-4 lg:none"/>
        <table
          *ngIf="faction.troopsRequireSpiceSupport"
          class="w-full table-fixed table"
        >
          <thead>
          <td
            class="text-center font-medium text-lg pb-4"
          >
            Especia
          </td>
          <td class="text-center font-medium text-lg pb-4 ">
            {{spiceSpent$ | async}}
          </td>
          </thead>
        </table>
      </div>
    </div>
  </article>
</main>
