<div style="background: inherit; height: 100%">
  <mat-toolbar
    class="flex flex-row justify-between shadow-2xl"
    color="primary"
  >
    <span>
      <button (click)="handleMenuClosed()" [routerLink]="''" class="text-lg" mat-button>
        Dune Companion
      </button>
      <span class="text-sm">V 0.2.0</span>
    </span>
    <button
      (click)="menu.toggle()"
      mat-icon-button
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="h-fit">
    <mat-drawer
      #menu
      (closed)="handleMenuClosed()"
      (opened)="handleMenuOpened()"
      [(opened)]="menuOpened"
      class="max-w-[280px]"
      mode="over"
      position="end"
    >
      <mat-action-list>
        <p
          class="w-full p-4 pb-2 text-left text-lg font-semibold"
        >
          Facciones
        </p>
        <button
          (click)="handleThemeChange(theme)"
          *ngFor="let theme of themeOptions"
          mat-list-item
        >
          <div
            class="flex flex-row justify-between items-center"
          >
            {{theme.name}}
            <img
              [alt]="theme.name + ' faction shield'"
              [src]="theme.factionLogoSrc"
              class="w-10 aspect-square p-0.5 bg-gray-200 rounded-full"
            />
          </div>
        </button>
        <div class="my-4">
          <mat-divider/>
        </div>
        <!--        <p-->
        <!--          class="w-full p-4 pb-2 text-left text-lg font-semibold"-->
        <!--        >-->
        <!--          Herramientas-->
        <!--        </p>-->
        <button
          (click)="handleMenuClosed()"
          *ngFor="let option of navOptions"
          [routerLink]="option.href"
          mat-list-item
        >
          {{option.label}}
        </button>
      </mat-action-list>
    </mat-drawer>
    <mat-drawer-content class="">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
