<div style="background: inherit; height: 100%" >
  <mat-toolbar
    color="primary"
    class="flex flex-row justify-between shadow-2xl"
  >
    <button mat-button [routerLink]="''" (click)="handleMenuClosed()">
      Dune Companion
    </button>
    <button
      mat-icon-button
      (click)="menu.toggle()"
    >
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>
  <mat-drawer-container class="h-full">
    <mat-drawer
      #menu
      mode="over"
      position="end"
      [(opened)]="menuOpened"
      (opened)="handleMenuOpened()"
      (closed)="handleMenuClosed()"
      class="max-w-[280px]"
    >
      <mat-action-list>
        <p
          class="w-full p-4 pb-2 text-left text-lg font-semibold"
        >
          Facciones
        </p>
        <button
          mat-list-item
          *ngFor="let theme of themeOptions"
          (click)="this.handleThemeChange(theme)"
        >
          <div
            class="flex flex-row justify-between items-center"
          >
            {{theme.name}}
            <img
              [src]="theme.factionLogoSrc"
              alt="soldier icon"
              class="w-10 aspect-square p-0.5 bg-gray-200 rounded-full"
            />
          </div>
        </button>
        <mat-divider></mat-divider>
        <p
          class="w-full p-4 pb-2 text-left text-lg font-semibold"
        >
          Herramientas
        </p>
        <button
          mat-list-item
          *ngFor="let option of navOptions"
          [routerLink]="option.href"
          (click)="handleMenuClosed()"
        >
          {{option.label}}
        </button>
      </mat-action-list>
    </mat-drawer>
    <mat-drawer-content class="">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
