/* You can add global styles to this file, and also import other style files */
@import '@angular/material/theming';
@include mat-core();

$dune-primary: mat-palette($mat-deep-purple, 500);
$dune-accent: mat-palette($mat-deep-purple, A200);
//use default warning color
//$dune-warn: mat-palette($mat-red, 500);

$harkonnen-theme-dark: mat-dark-theme($dune-primary,$dune-accent);

//@include angular-material-theme($emperor-theme-dark);
.harkonnen-theme-dark {
  @include angular-material-theme($harkonnen-theme-dark);
  background: #222222;
  color: #ffffff;
}
