<article>
  <h1
    class="bg-[--primary-emperor] p-4 text-center uppercase "
    style="letter-spacing: 2px; font-weight: 500;"
  >
    {{faction?.name}}
  </h1>
  <h2
    class="bg-[--primary-emperor] px-4 text-center uppercase  w-fit"
  >
    Inicio
  </h2>
  <p>
    <b>Tropas:</b>
    20 en reserva.
  </p>
  <p>
    <b>Especia Incial:</b>
    10 unidades.
  </p>
  <h2
    class="bg-[--primary-emperor] px-4 text-center uppercase  w-fit"
  >
    Fase de reanimación
  </h2>
  <p>
    <b>Reanimación gratuita:</b>
    1 por ronda.
  </p>

  <h2
    class="bg-[--primary-emperor] px-4 text-center uppercase w-fit"
  >
    Líderes
  </h2>
  <table
    class="w-full table-fixed table text-center mb-3"
  >
    <thead>
    <td
      class="text-center font-medium text-lg pb-4"
    >
      Líder
    </td>
    <td
      class="text-center font-medium text-lg pb-4"
    >
      Fuerza de Batalla
    </td>
    </thead>
    <tbody>
    <tr
      *ngFor="let leader of faction?.leaders"
    >
      <td>
        {{leader.name}}
      </td>
      <td
        class="text-center text-lg"
      >
        {{leader.power}}
      </td>
    </tr>
    </tbody>
  </table>
  <h2
    class="bg-[--primary-emperor] px-4 text-center uppercase  w-fit"
  >
    Ventajas
  </h2>
  <p>
    <i
      class="mx-4"
    >
      Tienes acceso a una gran fortuna.
    </i>
  </p>
  <p>
    <b>
      Ganancias de la subasta:
    </b>
    Tú cobras la especia que otro jugador pague por una carta de trampa durante la fase de subasta.
    <br/>
    No puedes hacer descuentos en el precio de las cartas.
  </p>
  <p>
    <b>
      Pagos directos:
    </b>
    Solo tu puedes dar especia directamente a la mano de otros jugadores y estos no tienen que esperar hasta la fase de
    recolección para agregarla a su reserva.
  </p>
  <h2
    class="bg-[--primary-emperor] px-4 text-center uppercase  w-fit"
  >
    Ventajas del juego avanzado
  </h2>

  <p>
    <b>Tropas especiales:</b>
    Tus 5 tropas estrelladas, los Sardaukar, tienen el doble de fuerza en combate que las normales excepto al combatir
    contra Fremen.
  </p>
  <p><u>Solo puedes reanimar un Sardaukar por ronda.</u></p>
  <h2
    class="bg-[--primary-emperor] px-4 text-center uppercase  w-fit"
  >
    Poder único karama
  </h2>
  <p>
    Puedes usar una carta Karama para reanimar hasta 3 de tus fuerzas o 1 líder de manera gratuita.
  </p>
  <p><u>Solo puedes usar este poder una única vez por partida</u></p>
</article>
