<article>
  <h1
    class="bg-[--primary-harkonnen] p-4 text-center uppercase "
    style="letter-spacing: 2px; font-weight: 500;"
  >
    {{faction?.name}}
  </h1>
  <h2
    class="bg-[--primary-harkonnen] px-4 text-center uppercase  w-fit"
  >
    Inicio
  </h2>
  <p>
    <b>Tropas:</b>
    10 en Carthag y 10 en reserva.
  </p>
  <img
    alt="dune map with Carthag highlighted."
    class="w-60 mx-auto"
    src="assets/images/harkonnen-starting-location.png"
  />
  <p>
    <b>Especia Incial:</b>
    10 unidades.
  </p>
  <h2
    class="bg-[--primary-harkonnen] px-4 text-center uppercase  w-fit"
  >
    Fase de reanimación
  </h2>
  <p>
    <b>Reanimación gratuita:</b>
    2 tropas por ronda.
  </p>

  <h2
    class="bg-[--primary-harkonnen] px-4 text-center uppercase w-fit"
  >
    Líderes
  </h2>
  <table
    class="w-full table-fixed table text-center mb-3"
  >
    <thead>
    <td
      class="text-center font-medium text-lg pb-4"
    >
      Líder
    </td>
    <td
      class="text-center font-medium text-lg pb-4"
    >
      Fuerza de Batalla
    </td>
    </thead>
    <tbody>
    <tr
      *ngFor="let leader of faction?.leaders"
    >
      <td>
        {{leader.name}}
      </td>
      <td
        class="text-center text-lg"
      >
        {{leader.power}}
      </td>
    </tr>
    </tbody>
  </table>
  <h2
    class="bg-[--primary-harkonnen] px-4 text-center uppercase  w-fit"
  >
    Ventajas
  </h2>
  <p>
    <i
      class="mx-4"
    >
      Maestro de la trampa y la traición
    </i>
  </p>
  <p>
    <b>
      Traidores adicionales:
    </b>
    Conservas tus 4 cartas de traidores en lugar de 1.
  </p>
  <p>
    <b>
      Cartas de trampa adicionales:
    </b>
    Puedes tener hasta 8 cartas de trampa en tu mano como máximo.
    Comienzas con 2 cartas de trampa en lugar de 1.
  </p>
  <p>
    Cada vez que compres una carta de trampa, toma una carta extra del mazo de trampa. <span
    class="text-[--primary-atreides]">Atreides</span> no puede ver esta carta.
  </p>
  <h2
    class="bg-[--primary-harkonnen] px-4 text-center uppercase  w-fit"
  >
    Ventajas del juego avanzado
  </h2>

  <p>
    <b>Tomar Rehenes:</b>
    cuando ganes una batalla, selecciona de manera aleatoria y secreta uno de los líderes del perdedor (incluyendo el
    que participó en batalla si no fue asesinado). Luego, puedes:
  </p>
  <ul class="mb-3" style="list-style-type: lower-alpha">
    <li>Conservarlo hasta que decidas usarlo en una batalla como un líder propio.
      <br/>
      Una vez usado en una batalla, el líder capturado regresa a su facción si no fue asesinado.
    </li>
    <li>Ponerlo en los tanques de reanimación boca abajo y ganar 2 de especia.</li>
  </ul>
  <p>
    Si todos tus líderes propios fueron asesinados, los líderes capturados regresan a sus respectivos dueños.
  </p>
  <p>Los líderes capturados pueden ser revelados como traidores.</p>
  <h2
    class="bg-[--primary-harkonnen] px-4 text-center uppercase  w-fit"
  >
    Poder único karama
  </h2>
  <p>
    Puedes usar una carta Karama para tomar desde una hasta todas las cartas de trampa de otro jugador.
    Intercambia tantas de tus cartas como quieras con las suyas. Debes devolver la misma cantidad de cartas que tomaste.
  </p>

  <p><u>Solo puedes usar este poder una única vez por partida</u></p>
</article>
