@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'src/themes/emperor-theme';
@import 'src/themes/atreides-theme';
@import 'src/themes/bene-gesserit-theme';
@import 'src/themes/harkonnen-theme';
@import 'src/themes/guild-theme';
@import 'src/themes/fremen-theme';

:root {
  --primary-atreides: #4CAF50;
  --primary-harkonnen: #673AB7;
  --primary-emperor: #C62828;
  --primary-fremen: #FFC107;
  --primary-guild: #FF9800;
  --primary-bene-gesserit: #1565C0;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-menu-content {
  background-color: red;
}
